[submodule "wp-content/plugins/wpckan"]
	path = wp-content/plugins/wpckan
	url = https://github.com/OpenDevelopmentMekong/wpckan.git
[submodule "wp-content/themes/jeo"]
	path = wp-content/themes/jeo
	url = https://github.com/OpenDevelopmentMekong/jeo.git
[submodule "wp-content/themes/jeo-odm"]
	path = wp-content/themes/jeo-odm
	url = https://github.com/OpenDevelopmentMekong/opendev-wptheme
[submodule "wp-content/plugins/wp-feature-box"]
	path = wp-content/plugins/wp-feature-box
	url = https://github.com/OpenDevelopmentMekong/wp-feature-box.git
[submodule "wp-content/plugins/Google-Analytics-Dashboard-for-WP"]
	path = wp-content/plugins/Google-Analytics-Dashboard-for-WP
	url = https://github.com/OpenDevelopmentMekong/Google-Analytics-Dashboard-for-WP.git
[submodule "wp-content/plugins/wp-rss-multi-importer"]
	path = wp-content/plugins/wp-rss-multi-importer
	url = https://github.com/OpenDevelopmentMekong/wp-rss-multi-importer
[submodule "wp-content/plugins/flexible-posts-widget"]
	path = wp-content/plugins/flexible-posts-widget
	url = https://github.com/OpenDevelopmentMekong/flexible-posts-widget.git
[submodule "wp-content/plugins/tinymce-advanced"]
	path = wp-content/plugins/tinymce-advanced
	url = https://github.com/OpenDevelopmentMekong/tinymce-advanced
[submodule "wp-content/plugins/any-mobile-theme-switcher"]
	path = wp-content/plugins/any-mobile-theme-switcher
	url = https://github.com/OpenDevelopmentMekong/any-mobile-theme-switcher.git
[submodule "wp-content/plugins/magic-fields-2"]
	path = wp-content/plugins/magic-fields-2
	url = https://github.com/OpenDevelopmentMekong/Magic-Fields-2.git
[submodule "wp-content/plugins/broken-link-checker"]
	path = wp-content/plugins/broken-link-checker
	url = https://github.com/ManageWP/broken-link-checker.git
[submodule "wp-content/plugins/json-rest-api"]
	path = wp-content/plugins/json-rest-api
	url = https://github.com/wp-plugins/json-rest-api.git
[submodule "wp-content/plugins/all-in-one-seo-pack"]
	path = wp-content/plugins/all-in-one-seo-pack
	url = https://github.com/wp-plugins/all-in-one-seo-pack.git
[submodule "wp-content/plugins/tablepress"]
	path = wp-content/plugins/tablepress
	url = https://github.com/wp-plugins/tablepress.git
[submodule "wp-content/plugins/taxonomy-terms-order"]
	path = wp-content/plugins/taxonomy-terms-order
	url = https://github.com/wp-plugins/taxonomy-terms-order.git
[submodule "wp-content/plugins/wordpress-importer"]
	path = wp-content/plugins/wordpress-importer
	url = https://github.com/wp-plugins/wordpress-importer.git
[submodule "wp-content/plugins/qtranslate-x"]
	path = wp-content/plugins/qtranslate-x
	url = https://github.com/OpenDevelopmentMekong/qtranslate-x.git
[submodule "wp-content/plugins/wpsparql"]
	path = wp-content/plugins/wpsparql
	url = https://github.com/OpenDevelopmentMekong/wpsparql.git
[submodule "wp-content/plugins/megamenu"]
	path = wp-content/plugins/megamenu
	url = https://github.com/wp-plugins/megamenu.git
[submodule "wp-content/plugins/ewww-image-optimizer"]
	path = wp-content/plugins/ewww-image-optimizer
	url = https://github.com/wp-plugins/ewww-image-optimizer.git
[submodule "wp-content/plugins/w3-total-cache"]
	path = wp-content/plugins/w3-total-cache
	url = https://github.com/wp-plugins/w3-total-cache.git
